* {
    font-family: "verdana", sans-serif;
    background-color: #212931;
    color: white;
}

.home-title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 75px;
}

.home-recipes {
    text-align: center;
    font-size: 25px;
}

.home-link {
    display: inline;
}

a {
    text-decoration: none;
    background-color: #D68D20;
    padding: 10px 20px;
}

.food-title /* h1 */ {
    text-align: center;
}

.food-image /* img */ {
    display: block;
    width: device-width;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    margin: 20px 200px;
}

.ingredients-list /* div */ {
    list-style-position: inside;
}

.ingredients-list ul {
    text-align: center;
    margin: 20px 200px;
    padding: 0;
}


.steps {
    margin: 20px 200px;
}